.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    background-color: white;
}
.navegacion{
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navegacion ul{
    list-style: none;
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navegacion ul li {
    margin-right: 20px;
}
.navegacion ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #ed7833;
    text-decoration: none;
}
.navegacion ul li a:hover{
    color: #1f5c8a;
}
